/* Add CSS styling here */
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

html {
    font-size: 62.5%;
    max-width: 100%;
}

body {
    line-height: 1.5;
    font-family: "Noto Sans JP";
    font-size: 1.6rem;
    
}

/* Header Styles */

header {
    background-color: #f1f3f8;
    padding: 1.5%;
}

nav {
    padding: 1%;
}

nav a {
    text-decoration: none;
    font-size: 2rem;
    background-color: #d6e0f0;
    border-radius: 10px;
    padding: .5%;
    color: #393b44;
}

nav a:hover {
    background-color: #393b44;
    color: #d6e0f0;
}

h1, h2, h3, h4 {
    font-family: "Fredericka the Great";
}

h1 {
    font-size: 6rem;
}

/* Content Styling */

h2 {
    font-size: 5rem;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
}

.content img {
    width: 60%;
}

.content div {
    width: 30%;
}

.content button {
    border: none;
    padding: 3%;
    margin: 3% 0;
    background-color: #d6e0f0; 
    color: #393b44;
    border-radius: 10px;
    font-family: "Noto Sans JP";
    font-size: 1.6rem;
}

/* Gallery Styling */

h3 {
    font-size: 4rem;
    text-align: center;
}

.gallery1, .gallery2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
}

.gallery1 div img, .gallery2 div img {
    width: 300px;
    padding: 3%;
}

/* Footer Styling */